<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Warriors Arena in typescript</title>
  </head>
  <body>
    <header>
      <h1>Warriors Arena</h1>
      <ul>
        <a href='/warrior/add-form'>Register new warrior</a>
      </ul>
      <ul>
        <a href='/arena/fight-form'>Fight Arena</a>
      </ul>
      <ul>
        <a href='/hall-of-fame'>Hall of Fame</a>
      </ul></header>
    {{{body}}}
  </body>
</html>