@font-face {
  font-family: norse;
  src: url(../font/Norse-KaWl.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 2vh;
}

body {
  min-height: 100vh;
  margin: 30px auto;
  font-family: norse;
  font-size: 1.4rem;
  letter-spacing: 3px;
  background: linear-gradient(25deg, #58522f 0%, #3b637e 100%);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  line-height: 5vh;
}

h2:hover {
  color: gold;
  text-shadow: 0 0 10px #f9ffe9, 0 0 20px #fff, 0 0 30px #edee8a, 0 0 40px #daf369;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

label:hover {
  color: #fff2a8;
  text-shadow: 0 0 10px #f9ffe9, 0 0 20px #fff, 0 0 30px #edee8a, 0 0 40px #daf369;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link {
  color: gold;
}

.link:hover {
  color: #fff2a8;
  text-shadow: 0 0 10px #f9ffe9, 0 0 20px #fff, 0 0 30px #edee8a, 0 0 40px #daf369;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hall-wrap {
  position: relative;
}

.hall-wrap tr:hover {
  color: gold;
  text-shadow: 0 0 10px #f9ffe9, 0 0 20px #fff, 0 0 30px #edee8a, 0 0 40px #daf369;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hall-wrap h2 {
  margin-top: 30px;
  font-size: 50px;
}

.hall-of-fame {
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  top: 30%;
  left: 50%;
  margin: 60px auto;
  line-height: 5vh;
  font-size: 40px;
  border-collapse: separate;
  border-spacing: 40px 10px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  cursor: cell;
}

.add-form {
  position: absolute;
  -webkit-transform: translate(-50%, -47%);
          transform: translate(-50%, -47%);
  top: 40%;
  left: 50%;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em;
  height: 650px;
  width: 500px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input {
  background: transparent;
  width: 260px;
  padding: 0.2em;
  margin-bottom: 0.6rem;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input:hover {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

input[type='number'] {
  width: 130px;
}

input[type='number']::-webkit-inner-spin-button,
input [type='number']::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  position: absolute;
  top: 0;
  right: 6px;
  height: 100%;
}

button.submit {
  background: transparent;
  width: 200px;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  margin-top: 1.6rem;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-family: norse;
  font-size: 1.8rem;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 150px;
}

button.submit:hover {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button.submit:active {
  background: rgba(255, 255, 255, 0.2);
}

.arena-form {
  position: relative;
  display: block;
  -webkit-transform: translate(-50%, -47%);
          transform: translate(-50%, -47%);
  top: 30%;
  left: 50%;
  background: rgba(255, 255, 255, 0.3);
  height: 350px;
  width: 700px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.arena-choose {
  display: inline-block;
}

.arena-select {
  cursor: pointer;
  list-style: none;
  background: transparent;
  width: 280px;
  padding: 1rem;
  margin: 2rem 0.5rem 2rem 0.5rem;
  border: none;
  font-family: norse;
  font-size: 1.5rem;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.arena-select:hover {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

option {
  font-family: norse;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (orientation: portrait) and (min-width: 360px) {
  html {
    margin: 0;
  }
  body {
    font-size: 1.1rem;
    padding: 0;
  }
  .add-form {
    top: 50%;
    height: 440px;
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
    padding: 0;
  }
  .arena-form {
    padding: 0;
  }
  input {
    padding: 0;
    margin: 0;
  }
  .arena-choose {
    display: block;
    padding: 0;
    margin: 0;
  }
  .arena-select {
    margin: 15px;
  }
  .hall-wrap h2 {
    margin: 5px;
    font-size: 1.5rem;
  }
  .hall-of-fame {
    -webkit-transform: translate(-50%, 8%);
            transform: translate(-50%, 8%);
    margin: 0;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */