@font-face {
  font-family: norse;
  src: url(../font/Norse-KaWl.otf);
}
$first_color: rgba(255, 255, 255, 0.3);
$select-color: rgba(240, 85, 85, 0.3);
$select-background: rgba(47, 89, 55, 0.3);
$hover-color: gold;
$hover-color-light: rgb(255, 242, 168);
$glow: 0 0 10px rgb(249, 255, 233), 0 0 20px #fff, 0 0 30px #edee8a,
  0 0 40px #daf369;
$bg-gradient: linear-gradient(45deg, #8d2f42, #3f5efb);
$bg-gradient2: linear-gradient(
  25deg,
  rgba(175, 154, 30, 1) 0%,
  rgba(43, 152, 227, 1) 100%
);
$bg-gradient3: linear-gradient(
  25deg,
  rgba(88, 82, 47, 1) 0%,
  rgba(59, 99, 126, 1) 100%
);
$trans: all 0.2s ease-in-out;
$font-color: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 2vh;
}

body {
  min-height: 100vh;
  margin: 30px auto;
  font-family: norse;
  font-size: 1.4rem;
  letter-spacing: 3px;
  background: $bg-gradient3;
  background-repeat: no-repeat;
  color: $font-color;
  text-align: center;
  line-height: 5vh;
}
h2:hover {
  color: $hover-color;
  text-shadow: $glow;
  transition: $trans;
}
label:hover {
  color: $hover-color-light;
  text-shadow: $glow;
  transition: $trans;
}

.link {
  color: $hover-color;
}

.link:hover {
  color: $hover-color-light;
  text-shadow: $glow;
  transition: $trans;
}

.hall-wrap {
  position: relative;
}
.hall-wrap tr:hover {
  color: $hover-color;
  text-shadow: $glow;
  transition: $trans;
}

// .hall-wrap::after {
//   content: '';
//   position: absolute;
//   top: -20;
//   left: 0;
//   width: 100%;
//   height: 72vh;
//   background-image: url(../pics/gioele-fazzeri-cEfbNxNqZ8g-unsplash.jpg);
//   background-size: 36%;
//   background-repeat: no-repeat;
//   background-position: center;
//   filter: sepia(100%);
//   filter: brightness(30%);
//   z-index: -1;
//   // border: 2px solid white;
// }
.hall-wrap h2 {
  margin-top: 30px;
  font-size: 50px;
}

.hall-of-fame {
  position: absolute;
  transform: translate(-50%, 0%);
  top: 30%;
  left: 50%;
  margin: 60px auto;
  line-height: 5vh;
  font-size: 40px;
  border-collapse: separate;
  border-spacing: 40px 10px;
  border-radius: 20px;
  border: 1px solid $first_color;
  background: $first_color;
  cursor: cell;
}

.add-form {
  position: absolute;
  transform: translate(-50%, -47%);
  top: 40%;
  left: 50%;
  background: $first_color;
  padding: 1em;
  height: 650px;
  width: 500px;
  border-radius: 20px;
  border-left: 1px solid $first_color;
  border-top: 1px solid $first_color;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

input {
  background: transparent;
  width: 260px;
  padding: 0.2em;
  margin-bottom: 0.6rem;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  border-left: 1px solid $first_color;
  border-top: 1px solid $first_color;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: $font-color;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  &[type='number'] {
    width: 130px;
  }
  &[type='number']::-webkit-inner-spin-button,
  [type='number']::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    transform: scale(1.5);
    position: absolute;
    top: 0;
    right: 6px;
    height: 100%;
  }
}

button.submit {
  background: transparent;
  width: 200px;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  margin-top: 1.6rem;
  border: none;
  border-left: 1px solid $first_color;
  border-top: 1px solid $first_color;
  font-family: norse;
  font-size: 1.8rem;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  width: 150px;
  &:active {
    background: rgba(255, 255, 255, 0.2);
  }
}

.arena-form {
  position: relative;
  display: block;
  transform: translate(-50%, -47%);
  top: 30%;
  left: 50%;
  background: $first_color;
  height: 350px;
  width: 700px;
  border-radius: 20px;
  border-left: 1px solid $first_color;
  border-top: 1px solid $first_color;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.arena-choose {
  display: inline-block;
}
.arena-select {
  cursor: pointer;
  list-style: none;
  background: transparent;
  width: 280px;
  padding: 1rem;
  margin: 2rem 0.5rem 2rem 0.5rem;
  border: none;
  font-family: norse;
  font-size: 1.5rem;
  border-left: 1px solid $first_color;
  border-top: 1px solid $first_color;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
}

option {
  font-family: norse;
  font-size: 1.5rem;
  background-color: $first_color;
}

@media (orientation: portrait) and(min-width:360px ) {
  html {
    margin: 0;
    overflow: hidden;
  }

  body {
    font-size: 1.1rem;
    padding: 0;
    overflow: hidden;
  }

  .add-form {
    top: 50%;
    height: 440px;
    width: 340px;
    transform: translate(-50%, -70%);
    padding: 0;
  }

  .arena-form {
    padding: 0;
    width: 340px;
  }
  input {
    padding: 0;
    margin: 0;
  }
  .arena-choose {
    display: block;
    padding: 0;
    margin: 0;
  }
  .arena-select {
    margin: 15px;
  }
  .hall-wrap h2 {
    margin: 5px;
    font-size: 1.5rem;
  }
  .hall-of-fame {
    transform: translate(-50%, 8%);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
  }
}
