@font-face {
  font-family: norse;
  src: url(../font/Norse-KaWl.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 50%;
  height: 50%;
  margin: 30px auto;

  font-family: norse;
  font-size: 23px;
  letter-spacing: 3px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(136, 27, 132, 1) 14%,
    rgba(0, 105, 177, 1) 100%
  );
  color: beige;
  text-align: center;
  line-height: 5vh;
}

.link {
  color: #ff0000;
} /* CSS link color (red) */

.link:hover {
  color: #00ff00;
} /* CSS link hover (green) */

.hall-wrap {
  position: relative;
  height: 145%;
  // background-image: url(../pics/gioele-fazzeri-cEfbNxNqZ8g-unsplash.jpg);
  // background-size: 100%;
  // background-repeat: no-repeat;
  // background-size: 60%;
  // background-position: center;
}

.hall-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../pics/gioele-fazzeri-cEfbNxNqZ8g-unsplash.jpg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  filter: sepia(100%);
  filter: brightness(30%);
  // border: 10px solid white;
  // border-radius: 30%;
  z-index: -1;
}
.hall-wrap h2 {
  margin-top: 30px;
  font-size: 50px;
}

.hall-of-fame {
  margin: 60px auto;
  line-height: 5vh;
  font-size: 40px;
  border-collapse: separate;
  border-spacing: 40px 10px;
}
.hall-wrap tr:hover {
  color: gold;
}
