<h2>
  Register new warrior
</h2>
<form action='' method='post'>
  <label>
    Name:<br />
    <input type='text' name='name' /><br />
  </label>
  <label>
    Strength<br />
    <input type='text' name='name' /><br />
  </label>
</form>