
<div class="arena-form">
<h2>Choose Warriors to fight</h2>
<form class="form_1" action='/arena/fight' method='POST'>
 {{> warrior-select select-name='warrior1'}}
 {{> warrior-select select-name='warrior2'}}
 <h2>Start fight for life and death</h2>
 <button class="submit" type="submit">FIGHT !</button>
</form></div>